---
layout: default
---

<div class="posts">
 {% assign current_post = site.posts | first %}
 {% assign current_year = current_post.date | date: "%Y" %}
 <!-- <h4>{{ current_year }}</h4>  -->
  {% for post in site.posts %}
      <div class="post">


      {% assign year = post.date | date: "%Y" %}
   {% if current_year != year %}
      {% assign current_year = year %}
      <!-- <h4>{{ current_year }}</h4>  -->
   {% endif %}
      <time datetime='{{ post.date | date: "%b %d, %Y" }}'>
            {{ post.date | date: "%m-%d-%Y" }}
      </time>
      <span class="separator"> &raquo </span>
		  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% assign tags = post.tags %}
      {% if tags.size > 0 %}
        <span class="seperator">&middot;</span>
      {% endif %}
      <span class="muted">
      {% include taglist.html %}
      </span>

   </div>

  {% endfor %}
</div>